.LoginComponent_component {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}
.Login_divOtroDiv {
  margin-top: 50px;
}
.LoginComponent_divContent {
  background-color: #ffffff;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.186);
}
.Login_ModalClose {
  position: absolute;
  right: 0;
  margin-right:20px;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #273141c3;
  border: 1px solid #273141c3;
  background-color: #ffffff;
}
.Login_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 40px 0 10px 0;
}
.Login_ButtonGoogle {
 width: 100%;
 border: none;
 padding: 2px 0 0px;
 border-radius: 5px;
 cursor: pointer;
 margin-bottom: 10px;
 border: 1px solid chocolate;
 background-color: #ffffff;
}
.Login_googleImg {
  max-width: 30px;
}
.Login_input {
  background-color: #e7e7e7;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.Login_input:focus {
  outline: none;
}
.Login_inputSubmit {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  background-color: #ffffff;
  border: 1px solid #273141c3;
  color: #273141;
  font-weight: 600;
  cursor: pointer;
}
.Login_recuperarCon {
  font-size: 13px;
  margin-bottom: 20px;
  cursor: pointer;
}
.Login_divContinuaCon {
  position: relative;
  background-color: #61666e;
}
.Login_continuaCon {
  text-align: center;
  font-size: 14px;
  color: #273141;
  font-weight: 500;
  position: absolute;
  background-color: #ffffff;
  top: -37px;
  left: 71px;
  padding: 0 10px;
}
.Login_inputSubmit {
  font-size: 17px;
}
.Login_inicia {
  font-size: 20px;
  font-weight: 600;
  color: #273141;
}
.Login_Register {
  text-align: center;
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
}
.Login_divRecordarContra {
  display: flex;
  gap: 10px;
}
.Login_recordarContra {
  font-size: 14px;
  color: #4b4b4b;
}
.Login_divCover {
  width: 100%;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
  max-height: 435px;
}
.Login_Cover {
  position: relative;
  right: 50px;
  width: 394px ;
}
.Login_hr {
  border: none;
  border-top: 1px solid rgb(161, 161, 161);
  margin-bottom: 25px;
}