.ProposalDash_divContent {
    border: 1px solid gray;
    max-width: 300px;
    border-radius: 5px;
}

.ProposalDash_top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.ProposalDash_profileDiv {
    display: flex;
    gap: 15px;
}

.ProposalDash_divProfileImage {
    max-width: 50px;
    max-height: 50px;
    border-radius: 4px;
    overflow: hidden;
}
.ProposalDash_ProfileImage {
    max-width: 50px;
}


.ProposalDash_bot {
    padding: 10px;
}