.CardOffer_component {
    border: 1px solid #bcbcbc;
    background-color: #FFFFFF;
    border-radius: 10px;
    max-width: 730px;
    min-width: 729px;
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 7px;
}
.div_profileSection {
    /* background-color: #273141; */
    display: flex;
    justify-content: space-between;
    padding: 18px 20px;
}
.Card_divContImageProfile {
    height: 46px;
    width:46px;
    overflow: hidden;
    border-radius: 8px;
}
.Card_profileImage{
    max-width: 70px;
}
.div_infoUser {
    display: flex;
    gap: 12px;
    align-items: center;
}
.Card_userName {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #19202a;
    transition: all 0.3s;
}
.Card_userName:hover {
    color: #485e80;
}
.Card_userRating {
    font-size: 13px;
    color: #575757;
}
.div_userDatos {
    display: flex;
    flex-direction: column;
}

.div_infoWorkSection {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.cardButton_options {
    height: 35px;
    width: 35px;
    font-size: 26px;
}

.div_cardDescription {
    font-size: 16px;
    line-height: 24px;
    color: #273141;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 650px;
    margin: 15px 0px 20px 0;
}
.card_divTags {
    display: flex;
    margin-bottom: 15px;
}
.card_tags {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #333333;
    /* background-color: #D9D9D9; */
}
.card_title {
    font-size: 22px;
    font-weight: 500;
    color: #273141;
    max-width: 475px;
}
.div_remuneration {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #D6550D;
    margin-top: 5px;
}
.card_divTags {
    margin-bottom: 25px;
}
.button_details {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #FFFFFF;
    padding: 7px 32px;
    background: #273141;
    border-radius: 7px;
    margin: 10px 0;
    transition: all 0.3s ease;
    text-decoration: none;
}
.button_details:hover {
    background-color: #19202a;
}
.div_cardButton {
    position: relative;
}
.cardButton_options {
    padding: 1px;
    background-color: #FFFFFF;
    border: none;
    margin-top: 7px;
    cursor: pointer;
}
.more {
    max-width: 30px;
}
.Card_option {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
    background-color: #FFFFFF;
    position: absolute;
    right: -1px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #949494;
}
.CardOption_divReport {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 4px;
    transition: all 0.2s ease;
}
.CardOption_divReport:hover {
    background-color: rgba(252, 1, 1, 0.201);
}
.report_cardButton {
    color: #273141;
    cursor: pointer;
}
.report_icon {
    width: 28px;
}
.guardar_icon {
    width: 23px;
    margin-right: 2px;
}
.CardOption_divGuardar {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    transition: all 0.2s ease;
}
.CardOption_divGuardar:hover {
    background-color: rgba(252, 1, 1, 0.201);
}