.Reviews_review{
    border: 1px solid #efefef;
    background-color: #efefef;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 971px;
    width: 970px;
    padding: 10px;
}
.Reviews_review:hover{
    cursor: pointer;
}
.span_rating > svg {
    color: #E9C46A;
}

.Reviews_title{
    font-weight: 600;
    font-size: 25px;
    color: #264653;
}

.Reviews_review > p{
    color: #264653;
    font-weight: 500;
}

.Reviews_review > h3{
    color: #e76f51
}

