.Reviews_review{
    border: 1px solid #6F6F6F;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 971px;
    width: 970px;
    padding: 10px;
}
.Reviews_review:hover{
    cursor: pointer;
}
.span_rating > svg {
    color: #E9C46A;
}

