.DetailModal_component {
  z-index: 2;
  position: relative;
  border-radius: 10px;
  /* box-shadow: 1px 1px 10px #000000; */
  box-shadow: 1px 3px 98px 600px #00000032;
}
/* .DetailModal_divPadre {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  max-height: 580px;
} */
.DetailModal_divContent {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.DetailModal_title {
  margin-bottom: 10px;
}
.DetailModal_contentInputs {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  margin-bottom: 20px;
}
.DetailModal_divInputs {
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin-bottom: 20px;
}

.DetailModal_divImage {
  max-height: 740px;
  max-width: 700px;
  width: 330px;
  height: 740px;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  border: none;
}
.DetailModal_image {
  /* position: relative; */
  max-width: 400px;
  right: 5px;
}
.DetailModal_divButtonClose {
  position: relative;
}
.DetailModal_buttonClose {
  position: absolute;
  right: 0;
  /* top: -10px; */
  margin: 10px 10px 0 0;
  padding: 3px 6px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.DetailModal_title {
  font-size: 18px;
  font-weight: 600;
  color: #595959;
}
.DetailModal_label {
  font-size: 16px;
  color: rgb(85, 85, 85);
}
.DetailModal_input {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #d8d8d881;
}
.DetailModal_input:focus {
  outline: none;
}

.DetailModal_submit {
  background-color: #72AD5E;
  border: none;
  padding: 10px 25px;
  color: #FFF;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.danger{
  font-size: 13px;
  color: red;
}
.DetailModal_divSelect {
  /* displ */
}