.Portfolio_component{
    max-width: 1200px;
    width: 100%;
}
.Portfolio_buttonAddPortfolio {
    width: 210px;
    height: 130px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #72AD5E;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.Portfolio_buttonAddPortfolio:hover {
    background-color: #57b836
}
.Portfolio_divMap{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( 210px, 1fr));
    grid-gap: 10px;
}
.Portfolio_divTitle {
    max-width: 210px;
    white-space: nowrap;
    margin-bottom: 10px;
}
.Portfolio_title {
    overflow: hidden;
    text-overflow: ellipsis;
}
.Portfolio_divItemMap {
    margin-bottom: 24px;
}
.Portfolio_divItems{
    height: 130px;
    width: 210px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}
.Portfolio_Item {
    max-width: 235px;
    transition: all 0.3s ease;
}
.Portfolio_divItems , .Portfolio_Item:hover {
    max-width: 250px;
    backdrop-filter: blur(1)
}

.Portfolio_formModal{
    position: absolute;
    top: 85%;
    right: 60.5%;
}
.Portfolio_CardComponent {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

@media screen and (max-width: 548px) {
    .Portfolio_divMap{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax( 150px, 1fr));
        grid-gap: 10px;
    }

    .Portfolio_divItems{
        height: 95px;
        width: 150px;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
    }

    .Portfolio_buttonAddPortfolio {
        width: 150px;
        height: 95px;
        font-size: 13px;
    }

    .Portfolio_Item {
        max-width: 190px;
        transition: all 0.3s ease;
    }
    .Profile_tag {
        font-size: 10px;
    }
}

@media screen and (max-width :411px) {
    .Portfolio_buttonAddPortfolio {
        width: 100%;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background-color: #72AD5E;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.3s ease;
        margin-bottom: 17px;
    }

    .Portfolio_divMap{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .Portfolio_divItems{
        height: 95px;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
        margin: 0 auto;
    }
    .Portfolio_Item {
        max-width: 500px;
        width: 100%;
        transition: all 0.3s ease;
    }
}