.header_register{
    display: flex;
    justify-content: space-between;
    max-width: 1136px;
    margin: 0 auto;
    padding: 36px 0;
}

.logo_register{
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.btn_volver{
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 7px 11px;
    white-space: nowrap;
    border: 1px solid transparent;
    cursor: pointer;
}