.Filtros_component {
  border: 1px solid #edecd9;
  background-color: #fffcfc;
  border-radius: 10px;
  height: 100%;
  height: auto;
  max-width: 380px;
  width: 100%;
  padding: 20px;
  position: sticky;
  top: 8.7em;
  transition: all 0.3s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12), 0 2px 7px rgba(0, 0, 0, 0.24);
}

.Filtros_title {
  font-size: 22px;
  font-weight: 500;
  color: #264653;
}

.Filtros_sortDivContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.Filtros_sortDiv {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Filtros_sortDiv > label{
  color:#264653
}

.Filtro_sortButton {
  max-width: 100px;
  width: 100%;
}


@media screen and (max-width: 745px) {
  .Filtros_sortDivContent {
    margin: 10px 0 0px;
  }
  .Filtros_sortDiv {
    display: flex;
    gap: 0;
    justify-content: center;
    flex-direction: column;
  }
  .Filtros_title {
    font-size: 18px;
    font-weight: 500;
    color: #264653;
  }
}

@media screen and (max-width: 685px) {
  .Filtros_title {
    font-size: 14px;
  } 
}