.Filtros_component {
  border: 1px solid #cacaca;
  background-color: #FFFFFF;
  border-radius: 10px;
  max-height: 325px;
  max-width: 380px;
  width: 100%;
  padding: 20px;
  /* position: fixed; */
}