.OfferPost_divcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1136px;
  margin: 100px auto 0 auto;
}
.OfferPost_divImage {
  bottom: 200px;
  position: sticky;
  max-width: 295px;
  overflow: hidden;
}
.OfferPost_image {
  position: relative;
  right: 53px;
  max-width: 400px;
}

.OfferPost_divForm {
  max-width: 400px;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 20px;
}
.OfferPost_Form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.professionDiv{
  display: flex;
  gap: 5px;
}

.profession_btns{
  background-color: cadetblue;
  border-radius: 5px;
  padding: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
