.ChangePassword_Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 40px 0;
}

.ChangePassword_div{
    height: 110px;
}

.ChangePassword_title{
    font-weight: 500;
    font-size: 35px;
    color: #E76F51;
    margin: 0 0 20px 0;
}

.ChangePassword_subtitle{
    font-weight: 500;
    font-size: 18px;
    color: #264653;
}


.ChangePassword_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ChangePassword_inputSubmit{
    margin: 0 auto;
    font-size: 17px;
    background-color: #F4A261;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
} 

.ChangePassword_inputError {
    margin: 20px 0 20px 0;
    height: 70px;
}

.ChangePassword_formInput {
    margin-bottom: -15px; 
    width: 250px;
    font-family: "poppins";
    border: none;
    padding: 15px 20px;
    background: #e0e0e0;
    border-radius: 8px;
      
}

.ChangePassword_inputError {
    font-size: 12px;
    color: #b30505FD;
    text-align: center;
  }