.Premium_all_cont{
    position: relative;
    top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.Premium_cont{
    display: flex;
    flex-direction: row;
    row-gap: 70px;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.Premium_topBox {
    display: flex;
    justify-content: flex-start;
    width: 220px;
}
.Premium_each_cont{
    margin: 0 30px 0 30px;
    height: 430px;
    display: flex;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: -20px 10px 40px -20px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 35px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.Premium_ul{
    margin: 0 10px 0 10px;
    width: 400px;
}

.Premium_each_cont img{
    width: 200px;
}