.Worker_registerContent {
  display: flex;
  flex-direction: row;
  /* max-width: 1136px; */
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.CR_h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 54px;
  color: #264653;
  margin-left: 35px;
}

.Worker_description{
  margin-left: 20px;
}

.Worker_textarea {
  resize: vertical;
}
.Worker_registerDivForm {
  margin: 30px;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  padding: 30px;
}

.Worker_registerImage {
  max-width: 550px;
  height: 900px;
  object-fit: cover;
  border-radius: 8px;
}

.Worker_imageContainer {
  height: 950px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 50px; 
}

.CR_inpunt {
  border: none;
  width: 100%;
  padding: 15px 20px;
  background: #eeeeee;
  border-radius: 8px;
  margin-bottom: 8px;
}

.profession_div {
  display: flex;
  gap: 5px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.profession_btn {
  background-color: #2a9d90d2;
  border-radius: 5px;
  padding: 4px 6px;
  margin: 4px 0;
  text-align: center;
}

.skills_div {
  display: flex;
  gap: 5px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

#skill,
#profession {
  border: none;
  font-size: 17px;
  width: 450px;
  padding: 15px 20px;
  background: #eeeeee;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
}

.skills_btn {
  background-color: #f4a261;
  border-radius: 5px;
  padding: 4px 6px;
  margin: 5px;
  text-align: center;
}

.Worker_submit {
  margin: 125px;
  font-size: 20px;
  background-color: #f4a261;
  border: none;
  padding: 10px 50px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

.Worker_submit:hover {
  cursor: pointer;
  background-color: #e76f51;
}

.Worker_error {
  font-size: 12px;
  color: #b30505fd;
}

.Worker_Input {
  height: 70px;
  margin: 20px;
}

.Worker_image {
  margin: 20px;
}

.Worker_profession {
  margin: 20px;
}

.Worker_skills {
  margin: 20px;
}
