.Banner_component {
  position: relative;
  margin: 10px 0;
}
.Banner_Carrusel {
  margin-top: 6px;
  position: relative;
}
.Banner_divBanner {
  border-radius: 10px;
}
.Banner_divBannerDos {
  border-radius: 10px;
  text-align: end;
}
.Banner_image {
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}
.Banner_imageTextUno{
  position: absolute;
  font-size: 38px;
  font-weight: 800;
  color: #FFFFFF;
  text-align: end;
  text-shadow: #264653 2px 2px 5px;
  right: 0px;
  margin: 15px 20px 0px 0px; 
  max-width: 420px;
  line-height: 50px;
}

.Banner_imageTextDos{
  position: absolute;
  font-size: 38px;
  font-weight: 800;
  color: #ffffff;
  text-align: end;
  text-shadow: #264653 2px 2px 5px;
  right: 0px;
  margin: 15px 20px 0px 0px; 
  max-width: 420px;
  line-height: 50px;
}

.Banner_imageTextTres{
  position: absolute;
  font-size: 38px;
  font-weight: 800;
  color: #ffffff;
  text-align: start;
  text-shadow: #264653 2px 2px 5px;
  left: 0px;
  margin: 15px 0px 0px 20px; 
  max-width: 420px;
  line-height: 50px;
}

/* .Banner_imageTextTres {
  position: absolute;
  font-size: 42px;
  font-weight: 800;
  color: #FFFFFF;
  text-shadow: #264653 2px 2px 5px;
  bottom: 0;
  margin: 20px 20px 20px 30px;
  max-width: 420px;
  line-height: 50px;
}
.Banner_imageTextDos {
  position: absolute;
  font-size: 42px;
  font-weight: 800;
  color: #FFFFFF;
  text-shadow: #264653 2px 2px 5px;
  margin: 20px 20px 0 0;
  right: 0;
  max-width: 420px;
  line-height: 50px;
} */

@media screen and (max-width: 975px) {
  .Banner_imageTextUno{
    font-size: 30px;
    max-width: 350px;
    line-height: 40px;
  }
  .Banner_imageTextTres{
    font-size: 30px;
    max-width: 350px;
    line-height: 40px;
  }
}

@media screen and (max-width: 820px) {
  .Banner_imageTextUno{
    font-size: 20px;
    max-width: 200px;
    line-height: 25px;
  }
  .Banner_imageTextDos{
    font-size: 20px;
    max-width: 200px;
    line-height: 25px;
  }
  .Banner_imageTextTres{
    font-size: 20px;
    max-width: 200px;
    line-height: 25px;
  }
}

@media screen and (max-width: 650px) {
  .Banner_imageTextUno{
    font-size: 16px;
    max-width: 180px;
    line-height: 20px;
  }
  .Banner_imageTextDos{
    font-size: 16px;
    max-width: 180px;
    line-height: 20px;
  }
  .Banner_imageTextTres{
    font-size: 16px;
    max-width: 180px;
    line-height: 20px;
    margin: 10px 0px 0px 20px; 
  }
}

@media screen and (max-width: 580px) {
  .Banner_imageTextUno{
    font-size: 14px;
    max-width: 180px;
    line-height: 20px;
  }
  .Banner_imageTextDos{
    font-size: 14px;
    max-width: 180px;
    line-height: 20px;
  }
  .Banner_imageTextUno{
    font-size: 14px;
    max-width: 180px;
    line-height: 20px;
  }
}
