.OptionsDash_secondDiv {
    margin-bottom: 20px;
}
.OptionsDash_secondDiv label {
font-size: 14px;
color: #264653;
font-weight: 600;
}
.OptionsDash_inputDiv input {
    padding: 8px 15px;
    margin: 0 5px;
    width: 800px;
    color: #6c6c6c;
}
.OptionsDash_inputDiv{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.OptionsDash_inputDiv button{
    padding: 5px 15px;
    font-size: 15px
}
.OptionsDash_select{
        border: none;
      font-size: 16px;
      width: 200px;
      padding: 10px 15px;
      background: #ececec;
      border-radius: 8px;
      margin-bottom: 10px;
      text-align: center;
}
.OoptionsDash_select > option{
    text-align: center;
    padding-right: 10px;
    margin-right: 10px;
    width: 150px
}