.Header_component {
    left: 0;
    position: fixed;
    margin: 0 auto;
    padding: 20px 0;
    top: 0;
    width: 100%;
    background-color: #fffcfcb8;
	backdrop-filter: blur(10px);
    z-index: 10;
    transition: all 0.3s ease;
}

.Header_ModalAbiertoBackground {
    position: absolute;
    background-color: #273141c3;
    top: 0;
    width: 100%;
    height: 100vh;
}
.Header_divContent {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
}
.Header_component.scroll {
    box-shadow: rgba(98, 106, 114, 0.301) 0px -10px 40px 10px;
}
.logo {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #E76F51;
}
.work {
    color: #264653;
}
.nav {
    display: flex;
    gap: 50px;
    align-items: center;
}
.div_buttons {
    display: flex;
    gap: 10px;
}
.button_login ,
.button_register {
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 9px 10px;
    white-space: nowrap;
    border: 1px solid transparent;
    cursor: pointer;
}
.button_login {
    color: white;
    border: 1px solid #2A9D8F;
    background-color: #2A9D8F
}
.button_login:hover{
    background-color: #264653;
    border: 1px solid #264653;
}
.button_register {
   background-color: #F4A261;
   border: 1px solid #F4A261;
   color: white

}
.button_register:hover{
   background-color: #E76F51;
   border: 1px solid #E76F51;
}
.Header_ModalLogin {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}
.Header_divButtonsUser {
    display: flex;
    gap: 40px;
    align-items: flex-end;
}