.Top_component {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Top_divIzquierda {
  margin-top: 90px
}
.Top_h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  max-width: 500px;
  color: #273141;
  margin-bottom: 17px;
}
.h1_nececidad {
  color: #757F8F;
}
.h1_profesionales {
  color: #ce512b;
}
.Top_pageDescription {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #939393;
  margin-bottom: 75px;
  max-width: 400px;
}
.Top_buttonAcceder {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 18px 24px;
  background-color: #757F8F;
  border-radius: 10px;
  font-weight: 700;
  font-size: 24px;
  color: white;
}
.new_tabIcon {
  height: 29px;
  width: 29px;
}