.favorites_btn{
    border: 1px solid #efefef;
    background-color: #e0dfdf;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: #F4A261;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    transition: all 0.3s ease;
}

.favorites_btn:hover{
    background-color: #264653;
}

.CardFavorite_span{
    cursor: pointer;
}

.CardFavorite_btnClose{
    background-color: rgb(245, 104, 104);
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 20%;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-align: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.CardFavorite_btnClose:hover{
    background-color: rgb(250, 32, 32);
}


@media screen and (max-width: 710px) {
    .favorites_btn{
        font-size: 12px;
    }
}

@media screen and (max-width: 650px) {
    .favorites_btn{
        padding: 7px;
        border-radius: 4px;
    }
}


