.contenedor_divs_trab_client{
    display: flex;
    max-width: 1136px;
    margin: 80px auto 0 auto;
}

.div_trabajador{
    background: #a39898;
    max-width: 568px;
    padding: 80px;
    width: 100%;
}

.div_client{
    background: #d65d5d;
    max-width: 568px;
    padding: 80px;
    width: 100%;
}