.contenedor_register{
    max-width: 1136px;
    margin: 0 auto    
}

.contenedor_divs_trab_client{
display: flex;

}

.div_trabajador{
    background: rgb(163, 152, 152);
    max-width: 550px;
    max-height: 724px;
}

.div_client{
    background: rgb(214, 93, 93);
    max-width: 550px;
    max-height: 724px;
}