.Register_divclientWorker{
    display: flex;
    gap: 36px;
    max-width: 1136px;
    margin: 0px auto 0 auto;
}

.Register_Worker {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    padding: 30px 10px 30px 10px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
}

.Register_Client {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    width: 100%;
    padding: 30px 10px 30px 10px;
    border: 1px solid gray;
    border-radius: 10px;
}
.Register_orTitle {
    font-size: 30px;
    font-weight: 600;
    color: #2A9D8F;
}
.Register_orTitleOrange {
    color: #E76F51;
}
.Register_PortOrPublic {
    font-size: 20px;
    color: #264653;
    margin-top: 20px;
}
.Register_OrDescript {
    font-size: 22px;
    font-weight: 600;
    color: #264653;
}
.Register_divImage {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 20px 0 50px 0;
}
.Register_divImage img{
    height: inherit;
    width: inherit;
}
.Register_button {
    background-color: #264653;;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.Register_button:hover{
    background-color: #2A9D8F;;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.Register_login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 30px 0;
    font-size: 24px;
    text-decoration: none;
    color: #264653
}

.Register_login > a {
    padding: 0 8px;
    text-decoration: none;
    font-size: 26px;
    color: #F4A261
}

.Register_login > a:hover {
    color: #E76F51
}