.Footer_component {
  background: #264653;
  margin-top: 100px;
}
.Footer_contentDiv {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}
.Final_Div {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #AFAAA7;
  padding-bottom: 10px;
}
.Footer_top {
  display: flex ;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.Footer_bottom {
  display: flex;
  justify-content: space-between;
}
.Footer_buttonContainerDivs {
  display: flex;
  gap: 150px;
}
.Footer_titleLinks {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #dcdada;
}
.Footer_divLinks {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.Footer_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #858585;
  text-decoration: none;
  transition: all 0.3s ease;
}
.Footer_link:hover {
  color: #E76F51;
}

.footer_logo{
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  color: #E76F51;
}
.footer_work{
  color: #2A9D8F;
}


.Footer_divLogoHenry {
  position: relative;
}
.Footer_linkLogoHenry {
  position: absolute;
  right: 0;
  top: 32px;
}
