.Login_component {
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.368);
  border-radius: 10px;
}
.Login_divContent {
  background-color: #ffffff;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 0 10px 10px 0;
}
.Login_ModalClose {
  position: absolute;
  right: 0;
  margin-right:20px;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #273141c3;
  border: 1px solid #273141c3;
  background-color: #ffffff;
}
.Login_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 40px 0 10px 0;
}
.Login_ButtonGoogle {
 width: 100%;
 border: none;
 padding: 2px 0 0px;
 border-radius: 5px;
 cursor: pointer;
 margin-bottom: 10px;
 border: 1px solid chocolate;
 background-color: #ffffff;
}
.Login_googleImg {
  max-width: 30px;
}
.Login_input {
  background-color: #e7e7e7;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.Login_input:focus {
  outline: none;
}
.Login_inputSubmit {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  border: 1px solid #273141c3;
  color: #273141;
  font-weight: 600;
  cursor: pointer;
}
.Login_recuperarCon {
  /* position: absolute; */
  font-size: 13px;
  margin-bottom: 20px;
}
.Login_divContinuaCon {
  position: relative;
  background-color: #61666e;
}
.Login_continuaCon {
  text-align: center;
  /* margin: 20px 0 10px 0; */
  font-size: 14px;
  color: #273141;
  font-weight: 500;
  position: absolute;
/* left: ; */
}
.Login_inicia {
  font-size: 20px;
  font-weight: 600;
  color: #273141;
}
.Login_Register {
  text-align: center;
  font-size: 14px;
  margin: 5px 0;
}
.Login_divRecordarContra {
  display: flex;
  gap: 10px;
}
.Login_recordarContra {
  /* color: #273141; */
  font-size: 14px;
}
.Login_divCover {
  max-width: 300px;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
  max-height: 470px;
}
.Login_Cover {
  position: relative;
  width: 720px;
  right: 200px;
}
.Login_hr {
  border: none;
  border-top: 1px solid rgb(161, 161, 161);
  margin-bottom: 25px;
}