.pending_cont{
    background-color: #fffcfc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.pending_display{
    display: flex;
    background-color: #e9c46a;
    flex-direction: column;
    justify-content: center;
    color: black;
    align-items: center;
    border: 2px solid #e9c46a;
    border-radius: 5px;
    padding: 50px 40px;
    box-shadow: 0 4px 8px black ;
}