.SearchBar_component {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.SearchBar {
  display: flex;
  background-color: #ebebeb;
  border-radius: 10px;
  padding: 5px;
}
.SearchBar_buttons {
  display: flex;
  gap: 10px;
}
.icon_search ,
.icon_filters {
  width: 24px;
  margin-top: 2px;
}
.button_filters ,
.button_search {
  border: none;
  margin-top: 1px;
  width: 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #dedede;
}
.input_search {
  background-color: #ebebeb;
  width: 200px;
  margin: 0 10px 0 5px;
  font-weight: 600;
  font-size: 14px;
  color: #949494;
  padding: 6px 0 5px 0;
  border: none;
  border-radius: 4px;
}
.input_search:focus {
  outline: none;
}
.filter_dropDown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
  width: 350px;
  background-color: #ececec;
  margin-top: 5px;
  border-radius: 10px;
  z-index: 4;
  font-weight: 700;
  color: #264653
}
.Filter_divOptionsCheckbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
.Filter_divOptions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.Filter_divOption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.filter_option {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px; 
}
.filter_option > label{
  padding: 0 0 0 5px;  
}

.filter_type_option {
  display: flex;
  flex-direction: row-reverse;
  align-items: center
}
.filter_type_option > label{
  padding: 0 0 0 5px;  
}

.Filter_divRatingProfessions {
  display: flex;
  justify-content: space-between;
}

.filter_remu{
  width: 70px
}
.filter_option > label{
  margin: 0px 15px 0px 0px;
}

.filter_workDuration {
  display: flex;
  flex-direction: column;
  align-items: center
}
.filter_workDuration > label{
  padding: 0 0 0 5px;  
}

@media screen and (max-width: 700px) {
  .SearchBar_component {
    transform: translateX(-35%);
  }
  .input_search {
    background-color: #ebebeb;
    width: 100px;
    margin: 0 10px 0 5px;
    font-weight: 600;
    font-size: 14px;
    color: #949494;
    padding: 6px 0 5px 0;
    border: none;
    border-radius: 4px;
  }
}
@media screen and (max-width: 465px) {
  .icon_search ,
.icon_filters {
  width: 15px;
  margin-top: 2px;
}
.button_filters ,
.button_search {
  border: none;
  margin-top: 1px;
  width: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ececec;
}

  .input_search {
    background-color: #ececec;
    width: 70px;
    font-size: 13px;
    color: #949494;
    padding: 4px 0 3px 0;
    border: none;
    border-radius: 2px;
  }
}

@media screen and (max-width: 700px) {
  .filter_dropDown {
    left: 50%;
    transform: translateX(-50%);
  }
}

.select_search{
  max-width: 250px;
  width: max-content;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  margin: 4px;
  margin-bottom: 0;
  border: none;
  font-size: 12px;
  background: #fffcfc;
  border-radius: 8px;
  text-align: center;
  appearance: none;
  cursor: pointer;
  font-weight: 700;
  color: #264653;
}

.remun_search{
  width: max-content;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  margin: 4px;
  margin-bottom: 0;
  border: none;
  font-size: 12px;
  background: #fffcfc;
  border-radius: 8px;
  text-align: center;
  appearance: none;
}

.filter_remu{
  border: none;
  border-left: 1px solid #000;
  font-size: 14px;
  background: #fffcfc;
  border-radius: 1px;
  text-align: center;
  appearance: none;
  margin-left: 6px;
  height: 25px;
  width: 90px;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

