.SearchBar_component {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.SearchBar {
  display: flex;
  background-color: #ebebeb;
  border-radius: 10px;
  padding: 5px;
  /* position: absolute;
  top: -10px; */
}
.SearchBar_buttons {
  display: flex;
  gap: 10px;
}
.icon_search ,
.icon_filters {
  width: 24px;
  margin-top: 2px;
}
.button_filters ,
.button_search {
  border: none;
  margin-top: 1px;
  width: 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #dedede;
}
.input_search {
  background-color: #ebebeb;
  width: 200px;
  margin: 0 10px 0 5px;
  font-weight: 600;
  font-size: 14px;
  color: #949494;
  padding: 5px 0;
  border: none;
  border-radius: 4px;
}
.input_search:focus {
  outline: none;
}
.filter_dropDown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding: 10px;
  width: 295px;
  background-color: #E9E9E9;
  margin-top: 5px;
  border-radius: 5px 5px 10px 10px;
  z-index: 4;
}
.Filter_divOptionsCheckbox {
  display: flex;
  justify-content: space-between;
}
.Filter_divOptions {
  display: flex;
  justify-content: space-between;
}
.Filter_divOption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.filter_option {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column-reverse;
  align-items: flex-start;
}
.Filter_divRatingProfessions {
  display: flex;
  justify-content: space-between;
}
